.sign-up {
  max-width: 978px;
  width: 100vw;
  display: flex;
  border: 1px solid var(--second-gray-color);
  border-radius: 5px;
  box-shadow: 1px 3px 10px var(--gray-color);
  overflow: hidden;
}
@media (max-width: 768px) {
  .sign-up .form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}
.sign-up .logo {
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .sign-up .logo {
    padding-bottom: 0;
    padding-top: 20px;
    margin-bottom: 0;
  }
}
.sign-up .info p {
  color: var(--third-gray-color);
  font-size: 14px;
}
.sign-up form {
  position: relative;
}
.sign-up .form label {
  text-transform: capitalize;
  font-size: 12px;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  padding: 3px 5px;
}
.sign-up .form input {
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  width: 100%;
  outline: none;
  margin-bottom: 10px;
}
.sign-up .form .password span,
.sign-up .form .confirm-password span {
  display: block;
  position: absolute;
  top: 48%;
  right: 10px;
  color: #667085;
  font-size: 13px;
  cursor: pointer;
}
.sign-up .form .confirm-password span {
  top: 40%;
}
.sign-up .form .btn {
  display: inline-flex;
  width: 100%;
  padding: 6px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  margin-bottom: 10px;
}
.sign-up .form .btn-google {
  display: inline-flex;
  width: 100%;
  padding: 6px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #eff0ff;
  color: var(--second-gray-color);
  border: none;
}
@media (max-width: 768px) {
  .sign-up .image-content img {
    display: none;
  }
}
.sign-up form .name .first,
.sign-up form .name .last,
.sign-up form .email,
.sign-up form .password,
.sign-up form .confirm-password {
  position: relative;
}
.sign-up form .errMsg {
  font-size: 10px;
  position: absolute;
  top: 6px;
  right: 0;
  color: red;
}
.sign-up form .name .errMsgN {
  font-size: 9px;
  position: absolute;
  bottom: -20px;
  left: 6px;
  color: red;
}
