* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #5429ff;
  --gray-color: #cbcce8;
  --second-gray-color: #344054;
  --third-gray-color: #667085;
}
body {
  font-family: "Inter", sans-serif;
  background: #eff0ff;
  background: -webkit-linear-gradient(to right, #eff0ff, #cbcce8, #667085);
  background: linear-gradient(to right, #cbcce8, #eff0ff, #eff0ff);
}
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* start login page */
.login {
  max-width: 978px;
  width: 100vw;
  display: flex;
  border: 1px solid var(--second-gray-color);
  border-radius: 5px;
  box-shadow: 1px 3px 10px var(--gray-color);
  /* background-color: #fcfcff; */
  overflow: hidden;
}
@media (max-width: 768px) {
  .login .content-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}
.login .content .form .info p {
  color: var(--third-gray-color);
  font-size: 14px;
}
.login form .email label,
.login form .password label {
  text-transform: capitalize;
  font-size: 12px;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
}
.login form .email input,
.login form .password input {
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  width: 100%;
  outline: none;
}
.login form .email,
.login form .password {
  position: relative;
}
.login form i {
  position: absolute;
  right: 5px;
  top: 60%;
  font-size: 14px;
  color: #667085;
  cursor: pointer;
}
.login form .options .checkbox input {
  width: 12px;
  border-radius: 4px;
  border: 1px solid var(--accent-1, #d0d5dd);
}
/* style error messages */
.login form .errMsg {
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
  color: red;
}
.login form .options .checkbox label {
  font-size: 10px;
  color: var(--second-gray-color);
}
.login form .options a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 10px;
}
.login form .btn-sign {
  display: inline-flex;
  width: 100%;
  padding: 6px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  margin-bottom: 10px;
}
.login form .btn-google {
  display: inline-flex;
  width: 100%;
  padding: 6px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: #eff0ff;
  color: var(--second-gray-color);
  border: none;
  position: relative;
}
.login form .btn-google img {
  position: absolute;
  width: 20px;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
@media (max-width: 430px) {
  .login form .btn-google img {
    left: 22%;
  }
}
.login form p {
  font-size: 12px;
}
.login form p a {
  text-decoration: none;
  color: var(--main-color);
}
@media (max-width: 768px) {
  .login .content-image img {
    display: none;
  }
}
/* end login page */
